*{
    font-family: 'Rubik', sans-serif;

    --accentColor: #12aaea;
    --accentColor2: #ffcd2c;
    --backgroudColor: #92a0a5;
}

main{
    background-color: var(--backgroudColor);
    /*grid: */
    text-align: center;
}

section{
    color: var(--accentColor);
    background-color: white;
}

h1{
    font-size: 1.5em;
}

h2{
    color: var(--accentColor);
}

section .icon{
    /* Make sure same size*/
}
img{

}


li {
    color: var(--backgroudColor);
    list-style: none;
}


button:hover{
    background-color: var(--accentColor2);
}