 :root{
    /* Variables for the fonts*/
    --mainFont: "Roboto";
    --headerFont: "Great Vibes";

    --primaryColor: white;
    /* color of the background */
    --secondaryColor: black;
    /* color of the main font */
    --accentColor: rgb(110, 45, 175);
    /* color that p o p s */
    --accentColor2: rgb(215, 215, 215);
    /* another color 'cause it's fun */
}

body {
    font-family: var(--mainFont), sans-serif;
    max-width: 1000px;
    margin: auto;
}

main {    
    max-width: 500px;
    margin: 0;
    padding: 1em;        
    box-sizing: border-box;
}

/* Styles stuff for both the header and footer */
header, footer {
    background-color: var(--accentColor);
    color: var(--accentColor2);
    padding: 1.2em;
    display: block;
    border-radius: 5px;
}

footer {
    display: grid;
    justify-content: center;
}

footer div {
    justify-self: center;
}

footer a {
    color: var(--accentColor2);
}

footer a:hover {
    color: var(--primaryColor);
}

/* Style for the headings */
h1, h2 {
    font-family: var(--headerFont), serif;
}

h1 {
    font-size: 2.5em;
}

h2 {
    border-bottom: var(--accentColor2) 2px solid;
}

/* Style for the profile pic img */
#profilePic {
    display: flex;
    float: right;
    border: var(--accentColor2) 4px solid;
    border-radius: 15px;
}

img {
    width: 125px;
    border-radius: 10px;
}

/* Style for the lists */
ul {
    padding: 15px 10px 10px 50px;
}

ul li {
    text-indent: 3px;
    margin: 5px;
    font-style: italic;
}

ul li a {
    font-style: normal;
    padding: 5px;
}

li:hover {
    background-color: var(--accentColor2);
}

li a:hover {
    color: var(--accentColor);
    font-style: italic;
}

button{
    background-color: var(--accentColor);
    /*background-color: var(--accentColor2);*/
    box-shadow: none;
    border: none;
}

/* Media Queries */
/* When the screen is a 'medium' size, 768px to 1024px*/
@media (min-width: 768px) {

}

/* When the screen is a 'large' size, 1024px or larger*/
@media (min-width: 1024px) {

}